
<html>
<canvas id="canvas" width="640" height="360"></canvas>
<style type="text/css">
canvas { border: 1px solid black; 
         background-color:white;}
</style>
Filename:<input type='text' id='text'>
<input type='button' value='save' onclick='save()'>
<script src="{{url_for('static',filename='min.js')}}"></script>
<script type="text/javascript" src="static/paint.js"></script>
<script>

jsondata=[]
var canvas = document.getElementById("canvas");
var context=canvas.getContext('2d'); 
canvas.addEventListener("mousedown", mousedown, false);
canvas.addEventListener("mouseup", mouseup, false);
canvas.addEventListener("mousemove", mousemove, false);
function mousedown(e){
 img=context.getImageData(0,0,canvas.width,canvas.height);
 startx=e.x;
 starty=e.y;
 drag=true;
}
function mouseup(e){
drag=false;
jsondata.push({"Type":"circle", "X0":startx,"Y0":starty,"X1":endx,"X2":endy})
}
function mousemove(e){
if (drag){
context.putImageData(img,0,0);
endx=e.x;
endy=e.y;
draw();
}}

function draw(){
context.beginPath();
context.arc(Math.abs(endx+startx)/2,Math.abs(endy+starty)/2,Math.sqrt(Math.pow(endx-startx,2)+Math.pow(endy-starty,2))/2, 0, Math.PI*2, true); 
context.closePath();
context.stroke();
}
function save(){
alert(JSON.stringify(jsondata));
filename=document.getElementById("text").value;
if (filename==""){
alert("Enter filename:");
}
else{
$.post("/",{'name':filename,'data':JSON.stringify(jsondata)},function(data,status){alert("Saved")});
}
}
</script>
</html>
